body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#build {
  width: 550px;
  border: 1px red solid;
  margin: 10px 5px;
}

#build p {
  padding: 5px;
}

.form-control {
  width: 50%;
}

.mb-3 {
  margin-left: 5px;
}

#add-lecture {
  margin-left: 5px;
}